:root {
  --color-primary: #000022;
  --color-secondary: #fce17d;
  --color-tertiary: #49d3ad;
  --color-quad: #5cd5dd;
  --color-white: #ffffff;
  --color-error: #FF3456;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

li:nth-child(1):before {
  content: '✍️';
  margin-left: 0;
  margin-right: 15px;
}

li:nth-child(2):before {
  content: '📊';
  margin-left: 0;
  margin-right: 15px;
}

li:nth-child(3):before {
  content: '📚';
  margin-left: 0;
  margin-right: 15px;
}
