.DayPickerInput {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-quad);
  border-radius: 0.375rem;
  padding: 0 0.5rem;
}

.DayPickerInput input {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.DayPickerInput input:focus {
  outline: none;
}

.DayPicker-wrapper {
  display: inline-block;
  background-color: var(--color-primary);
}

.DayPicker-Months {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: var(--color-white);
}

.DayPicker-Month {
  margin: 0;
  padding: 0;
  color: var(--color-white);
}

.DayPicker-Day {
  padding: 0.3em;
  width: 4rem;
  color: var(--color-white);
}

.DayPicker-Day:hover {
  color: var(--color-primary);
  background-color: var(--color-white);
}

.DayPicker-Day--selected {
  color: var(--color-primary) !important;
  background-color: var(--color-quad) !important;
}

.DayPicker-Day--today {
  color: var(--color-quad);
}

.DayPicker-Day--disabled {
  color: var(--color-white) !important;
  background-color: #a2a2a224 !important;
}
